/*--------------experience-------------*/
#experience{
    padding: 30px 0;
    min-height: 100vh;
    margin-bottom: 60px;
}

.experience-list{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 50px;
}

.experience-list p, .experience-list ul{
    line-height: 1.6rem;
    font-size: 16px;
}


.experience-list div{
    background: #b95870;
    color: white;
    padding: 40px;
    font-size: 16px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.experience-icon{
    font-size: 50px;
    margin-bottom: 30px;
    display: block;
    line-height: 1;
}


.experience-list div a{
    text-decoration: none;
    color:#ffffff;
    font-size: 15px;
    font-weight: 700;
    margin-top: 20px;
    display: inline-block;
}

.experience-list div:hover{
    background: #67182c;
    transform: translateY(-10px);
}

@media only screen and (max-width: 768px){
    .experience-list{
        gap: 20px;
    }
}