*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #FFF3F3;
  color: #420D1A;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container{
  padding: 5px 10%;
}

h1{
  margin: 20px 0;
  font-size: 3rem;
}


.sub-title{
  font-weight: 600;
  color:#cb5774;
}

h2{
  font-size: 1.5rem;
  margin-bottom: 15px;
}



h1 span{
  color:#cb5774;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn{
  display: block;
  margin: 20px auto;
  width: fit-content;
  border: 1px solid #ffffff;
  padding: 14px 50px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  transition: background 0.5s;
}

.btn:hover{
  background: #ffffff;
  color:#420D1A;
}

@media screen and (max-width: 992px) {
  h1 {
      font-size: 2.5rem;
  }
}

